Repository baileyrosato/Anatomia, pull requests merged in 2024-02, with the labels that each got.

#82 Implemented MaterialUI code changes to Login Page
  src/CourseEntry.js
Labels: UI/UX, course access page

#85 Change Male Body Types and Error Message on Course Entry Page
  public/model_files/maleCaucasian01.gltf
  public/model_files/maleCaucasian02.gltf
  public/model_files/maleCaucasian03.gltf
  public/model_files/maleCaucasian04.gltf
  public/model_files/maleCaucasian05.gltf
  src/CourseEntry.js
  src/MainMenu.js
  src/ModelRendering/Anatomymodel.jsx
Labels: course access page, 3D modeling

#93 Implemented Material UI for Sidebar Menu
  src/Navigation.js
Labels: content display/interaction, front-end

#94 Added randomized functionality for initial model
  src/ModelRendering/CharacterCustomizationContext.jsx
Labels: content display/interaction, 3D modeling, back-end

#101 Replaced download button with MaterialUI
  src/DownloadPDF.js
Labels: front-end
